
.logos{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.contents{
    margin-top: 100px;
    margin-left: 200px;
    justify-content: space-around;
}
#okayword{
    font-size: 60px;
}
#ditio{
    text-decoration: underline;
    color: red;
    font-size: 60px;
}
.product{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
#over-thirttwo{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    color: grey;
}
#productheading{
    text-align: center;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
}
#product-word{
    color:red;
}

.ditiio{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    margin-bottom: 40px;
}
.subscribers{
    display: flex;
}
.downloads{
    display: flex;
}
.words{
    display: flex;
}
.okay-words{
    margin-top: 20px;
}
.how-to-create-account{
    display: flex;
}
.customer-globally-highlight{
    text-decoration: underline;
    color: red;
}
.App-store-button{
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background-color: darkblue;
    border-radius: 10px;
    padding: 16px;
}
.play-store-button{
    font-size: 30px;
    border-radius: 18px;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color:darkblue


}
#somewords-highlight{
    text-decoration: underline;
    color: red;
}
#we-are-helping-people{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
}
.body{
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
}
.know-more-button{
    font-size: 30px;
    border-radius: 16px;
    background-color: rgb(2, 2, 61);
    color: white;
    padding: 10px;
    transform: skew();
    margin-left: 20px;
}
.mobile-app-interface{
    margin-top: 15%;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif
}
.helping-customers{
    @media (max-width: 768px){
        display: flex;
    }
    background-color: rgb(252 231 239);;
    border-radius: 0%;
}
.customer-globally{
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.businessman{
    @media (max-width: 768px){
        display: flex;
    }
}
.edwin-jecson{

    display: flex;
    justify-content: space-between;
    justify-content: space-around;
}
.eduin-zohir{
    border: 2px solid;
    border-radius: 2px;
    border-color: red;
    border-radius: 40px;
    width: 30%;
    padding: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;

}

.jecson-business-man{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#somewords-title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;

}
.over-users{
    margin-top: 20%;
    margin-left: 350px;
}
 .App-play-button{
    margin-top: 25%;
    margin-left: 20;
 }
.download-diti{
display: flex;
}
.icons{
    display: flex;
    gap: 10%;
    padding-left: 7%;
    padding-right: 5%;
    color: white;
    background-color: rgb(16, 2, 54);
}
.footer{
    border: 1px solid black;
}
.introduction{
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    justify-content: space-around;
}
.copyright{
    display: flex;
    gap: 25%;
    padding-left: 5%;
    padding-top: 1%;
    color: white;
    background-color: black;
    
}
.Roger-image{
    transform: skew();
}
#users{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
}

.details{
    list-style: none;
}
.heading{
    padding-top: 1.5%;
}
.footer{
    @media (max-width: 768px){
        display: flex;
    }
}
nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.logodit{
    display: flex;
    gap: 20px;
    align-items: center;
}

nav .ul-links a{
    text-decoration: none;
    color: black;
}

nav .ul-links{
    display: flex;
    gap: 20px;
    list-style-type: none;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.login{
    display: flex;
    text-decoration: none;
}
.log{
    text-decoration: none;
}
.signup-button{
    background: linear-gradient(to right, #FF00FF, #FA8072);
    color: white;
    padding: 10px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 40px;
    border: 1px;
    width: 7vw;
}

#dit{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.introduction-words{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}